#faceExtractor {
    font-family: Georgia, Times, serif;
    font-size:10px;
}
#faceExtractor ul {
    list-style: none;
}
#faceExtractor ul li { }
#faceExtractor ul li a {
    display:block;
    text-decoration:none;
    color:#000000;
    background-color:#FFFFFF;
    line-height:30px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#CCCCCC;
    padding-left:10px;
    cursor:pointer;
}
#faceExtractor ul li a:hover {
    color:#FFFFFF;
    background-color:#6096CC;
}
#faceExtractor ul li a strong {
    margin-right:10px;
}

#selected {
  background-color: lightgreen !important;
}

#faceExtractorheader {
    background-color: #f1f1f1;
    cursor: move;
}